{# @var plugin \brikdigital\hubspot\Hubspot #}
{# @var settings \brikdigital\hubspot\models\Settings #}

{% import '_includes/forms.twig' as forms %}

<h1>Hubspot</h1>

{{ forms.autosuggestField({
  label: 'Access Token',
  name: 'accessToken',
  value: settings.accessToken,
  suggestEnvVars: true
}) }}

{{ forms.autosuggestField({
  label: 'Client secret',
  name: 'clientSecret',
  value: settings.clientSecret,
  suggestEnvVars: true
}) }}

<hr />

<h2>Synchronization</h2>
<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Results</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Landing Pages</td>
      <td>{{ craft.hubspot.getLandingPages() }}</td>
      <td><a href="/actions/brik-hubspot/hubspot/run">Run</a></td>
    </tr>
  </tbody>
</table>